* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* GOOGLE FONTS


font-family: 'Rock Salt', cursive;
font-family: 'Fredoka One', sans-serif;


*/


body{
     background: #0099CC;
     font-family: 'Century Gothic', 'Verdana', 'Helvetica Neue', sans-serif;
     font-size: 12px;
}

/* Header */

#header-fixed {
     position:fixed; 
     top:0px; 
     z-index:100000; 
     width:100%;
     height: 195px; /*250px*/
     background: black;
     padding: 10px;
     color: white;
     text-align: center;
}

h1 {
     font-size: 37px; /*45px*/
     font-family: 'Rock Salt', cursive, sans-serif;
     color: white;
     text-align: center;
     background: yellow;
}

header p {
     font-size:13px; /*14*/
}

header a {
     font-size: 16px; /*18*/
}


#spotify {
     margin-top:5px;
     margin-bottom:5px;
     width: 75px;
     height: auto;
}


/* Content */

#container-fixed {
     margin-top:195px;
}


/* Video */
#video {
     padding-top:2px; /*10px*/
     text-align: center;
}


/* Playlists */


#playlists {
     margin-top:20px;
     margin-bottom:20px;
}

#playlists div {
     margin-bottom: 70px;
}

h4 {
     font-family: 'Fredoka One', sans-serif;
}


h5 {
     color: white;
}

/* Footer */

footer {
     padding-top: 10px;
     background: black;
     color: #0099CC;
}

footer p {
     padding: 5px;
}

footer a{
     color: white;
}

#logoimgs {
     text-align: center;
     margin-bottom: 10px;
}

#logoimgs img {
    width:190px; 
    height: auto;
    padding: 5px;
}

#why {
     margin-top: 5px;
     margin-right: 10px;
}

/* Clear fix hack */

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



